@import 'variables';
.card-artist-item {
    margin-top: 15px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 30%;
    margin-right: 4px;
}

.select-all-checkbox-options {
    width: 180px;
    margin: 0 16px;
}

.footer-container {
    margin-top: 55px;
}
