<div class="mt-4">
    <h3>Create Artists</h3>
    <form class="mt-4" method="POST" action="/artists/store">
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="videoid">videoid</label>
            <input type="text" class="form-control" id="videoid" name="videoid">
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>